<h2>Aperçu du livre</h2>
<hr>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ livre.titre }}</mat-card-title>
    <mat-card-subtitle>{{ livre.auteur }}</mat-card-subtitle>
  </mat-card-header>
  <br>
  <div >
    <mat-label for="etiquettes">Genre :</mat-label>
    <!-- <div *ngFor="let e in livre.etiquettes">{{ e.nom }}</div> -->
    <span *ngFor="let e of livre.etiquettes">{{ e.nom }}</span>
  </div>
  <br>
  <div>
    <label for="statut">Statut : {{livre.statut}}</label>
  </div>
  <hr>
  <mat-card-footer>
    <span>
      <button mat-button color="primary" *ngIf="livre.statut === 'DISPONIBLE';else indisponible" (click)="emprunter(livre)">
        Emprunter
      </button>
      <ng-template #indisponible>Emprunt actuellement indisponible pour ce livre :(</ng-template>
    <span></span>
      <a routerLink="/emprunter" mat-button color="warn">Retour</a>
    </span>
  </mat-card-footer>
</mat-card>
