<mat-toolbar>
  <button mat-mini-fab color="primary" (click)="drawer.toggle()">
  </button>

  <span id="mini-span"></span>
  <a mat-button color="primary" routerLink="/home">La Biblio Tech</a>
  <span id="span-toolbar"></span>


  <a mat-button color="secondary" routerLink="/login">
    Se connecter</a>

    <a mat-button color="secondary" routerLink="/inscription">
      S'inscrire</a>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div>
      <app-nav-bar></app-nav-bar>
    </div>
  </mat-drawer>
  <mat-drawer-content class="page-content">
    <div class="flex-container" style="align-self: center">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>

</mat-drawer-container>
