* {
  font-family: Roboto;
  /* background-color: rgb(247, 251, 254);
  background-size: auto; */
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-drawer {
  background-color: white;
}

mat-sidenav {
  height: 100%;
}

#span-toolbar {
  flex: 2 2 auto;
}

#mini-span {
  flex: 3 3 auto;
}

.page-content {
  margin: auto;
  width: 100%;
  padding: 10px;
  min-height: 450px;
  background-image: linear-gradient(rgba(40, 88, 232, 0.072), rgba(255, 255, 255, 0));

}
