<h2>Edition d'un Adhérent</h2>

<div>
  <div>
    <mat-form-field appearance="outline" >
    <mat-label for="id">Id</mat-label>
    <input matInput type="id" [(ngModel)]="adherent.id"
    readonly class="form-control">
    <mat-hint>(généré automatiquement)</mat-hint>
  </mat-form-field>
  </div>
  <br>
  <div>
    <mat-form-field appearance="outline" >
    <mat-label for="prenom">Prénom</mat-label>
    <input matInput type="prenom" [(ngModel)]="adherent.prenom"
    class="form-control">
  </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" >
    <mat-label for="nom">Nom</mat-label>
    <input matInput type="nom" [(ngModel)]="adherent.nom"
    class="form-control">
  </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" >
    <mat-label for="login">Nom d'utilisateur</mat-label>
    <input matInput type="login" [(ngModel)]="adherent.login"
    class="form-control">
  </mat-form-field>
  </div>
  <div class="form-group">
    <button mat-button color="primary" (click)="save()">
      <mat-icon>done</mat-icon> Enregistrer
    </button>
    <a routerLink="/adherents" mat-button color="warn">
      <mat-icon>clear</mat-icon>Annuler</a>
  </div>
</div>
