<div class="container">

<h1>Emprunter</h1>
<hr>

<form (ngSubmit)="recherche()" [formGroup]="form">
  <div class="form-group">
    <mat-form-field>
    <mat-label for="titre">Titre</mat-label>
    <input matInput id="titre" class="form-control" formControlName="titre" value=""/>
  </mat-form-field></div>

  <div class="form-group">
    <mat-form-field>
    <mat-label for="auteur">Auteur</mat-label>
    <input matInput id="auteur" class="form-control" formControlName="auteur" value=""/>
  </mat-form-field></div>

  <div class="form-group">
    <mat-form-field>
    <mat-label></mat-label>
    <mat-select id="statut" placeholder="Disponibilité" class="form-control" formControlName="statut">
      <mat-option value="DISPONIBLE">DISPONIBLE</mat-option>
      <mat-option value="INDISPONIBLE">INDISPONIBLE</mat-option>
      <mat-option value="EMPRUNTE">EMPRUNTÉ</mat-option>
    </mat-select>
  </mat-form-field>
  </div>

  <!-- ajouter les étiquettes -->
  <label for="statut">Etiquettes : </label>
  <span  *ngFor="let e of etiquettesEnBase" style="margin: 3px;">
    <a (click)="ajout(e)" mat-stroked-button color="primary"
    [ngClass]="{select: etiquettesSelect.includes(e)}">{{e.nom}}</a>
  </span>

<br>
<p></p>
<br>
  <div>
    <button type="submit"  mat-button color="primary">Lancer la recherche</button>
  </div>

</form>

<br>

<table class ="table table-hover table-striped">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Genre</th>
      <th>Disponibilité</th>
      <th colspan="2" style="text-align: center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of livres">
      <td>{{ l.titre }}</td>
      <td>{{ l.auteur }}</td>
      <td><mat-chip-listbox *ngFor="let e of l.etiquettes">
        <mat-chip>{{ e.nom }}</mat-chip>
      </mat-chip-listbox></td>
      <td>{{ l.statut }}</td>
      <td>
        <a a mat-raised-button color="info" routerLink="/livre/apercu/{{ l.id }}"
            routerLinkActive="active"
            ><mat-icon>find_in_page</mat-icon>Voir</a>
      </td>
      <td *ngIf="l.statut === 'DISPONIBLE';else indisponible">
        <a mat-raised-button color="primary" (click)="emprunter(l)">
          <mat-icon>add_shopping_cart</mat-icon>Emprunter
        </a>
      </td>
      <td>
      <ng-template #indisponible><a style="margin-top: 10px;margin-left: 8px;" mat-raised-button disabled>
        <mat-icon>highlight_off</mat-icon>Indisponible</a></ng-template>
    </td>
    </tr>
  </tbody>

</table>

</div>
