<h1>Emprunter</h1>
<hr>
<table class ="table">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Genre</th>
      <th>Disponibilité</th>
      <th>Lien</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of livres">
      <td>{{ l.titre }}</td>
      <td>{{ l.auteur }}</td>
      <td>{{ l.etiquettes }}</td>
      <td>{{ l.statut }}</td>
      <td>
        <a routerLink="/livre/apercu/{{ l.id }}"
            routerLinkActive="active"
            class="btn btn-primary">Aperçu</a>
      </td>
      <td *ngIf="livre.statut === 'DISPONIBLE';else indisponible">
        <button (click)="emprunter(livre)" class="btn btn-success">
          Emprunter
        </button>
        <!-- <button *ngIf="l.statut === 'EMPRUNTE'" class="btn btn-warning" (click)="emprunter(l)">
          Réserver
        </button> -->
      </td>
      <ng-template #indisponible>Emprunt actuellement indisponible pour ce livre :(</ng-template>
    </tr>
  </tbody>

</table>


