<mat-card class="fiche">
  <mat-card-header>
    <mat-card-title>{{ livre.titre }}</mat-card-title>
    <mat-card-subtitle>{{ livre.auteur }}</mat-card-subtitle>
  </mat-card-header>
  <!-- <div class="image-container"><img mat-card-image class="couverture" src="https://www.babelio.com/couv/CVT_La-Maison-des-feuilles_2019.jpg"></div> -->
  <mat-card-content>
    <!-- <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Roman labyrinthique, livre-monde hypnotique et déroutant qui s'affranchit des codes, la Maison des Feuilles est une expérience de lecture exigeante qui ne laisse personne indifférent. Un concept unique à feuilleter d'abord pour mieux s'y plonger et en apprécier toute l'étendue ensuite.
        </p>
      </mat-expansion-panel>
    </mat-accordion> -->
  </mat-card-content>
</mat-card>
