<app-link etiquetteLien="Accueil" lien="/home"></app-link>


<app-link etiquetteLien="S'inscrire" lien="/inscription"></app-link>
<app-link etiquetteLien="Se connecter" lien="/login"></app-link>


<!-- côté admin -->
<app-link etiquetteLien="Livres" lien="/livres"></app-link>
<app-link etiquetteLien="Adhérents" lien="/adherents"></app-link>
<app-link etiquetteLien="Administrateurs" lien="/administrateurs"></app-link>


<!-- côté adhérent -->
<app-link etiquetteLien="Emprunter" lien="/emprunter"></app-link>
<app-link *ngIf="logged" etiquetteLien="Informations personnelles" lien="/infos-adherent"></app-link>
<button *ngIf="logged" class="btn btn-link" (click)="logout()">Déconnexion
</button>
