<div class="container">
  <a mat-button color="secondary" routerLink="/home">
    <mat-icon>home</mat-icon>Accueil</a>


  <br>


  <!-- Authentification -->
  <a mat-button color="secondary" routerLink="/inscription">
    <mat-icon>person_add</mat-icon>S'inscrire</a>
<br>
  <a mat-button color="secondary" routerLink="/login">
    <mat-icon>how_to_reg</mat-icon>Se connecter</a>


  <br>


  <!-- Côté Admin -->
  <a mat-button color="secondary" routerLink="/livres">
    <mat-icon>library_books</mat-icon>Livres</a>
<br>
  <a mat-button color="secondary" routerLink="/adherents">
    <mat-icon>list</mat-icon>Adhérents</a>


  <br>


  <!-- Côté Adhérent -->
  <a mat-button color="secondary" routerLink="/emprunter">
    <mat-icon> local_library</mat-icon>Emprunter</a>
</div>

<!-- faire une sidebar plutôt ? -->
