<h2>Edition de Livre</h2>

<div>
  <div>
    <label for="titre">Titre :</label>
    <input type="titre" [(ngModel)]="livre.titre" class="form-control">
  </div>
  <div>
    <label for="auteur">Auteur :</label>
    <input type="auteur" [(ngModel)]="livre.auteur" class="form-control">
  </div>
  <div>
    <label for="etiquettes">Etiquettes :</label>
    <input type="etiquettes" [(ngModel)]="livre.etiquettes">
  </div>
  <div>
    <label for="statut">Statut : </label>

    <div *ngFor="let statut of statuts">
      <label for="{{statut}}">
        <input id="{{statut}}" [value]='statut' type="radio" name="statuts" [(ngModel)]="livre.statut">
        {{statut}}
      </label>
    </div>
    <br>
  </div>
  <div class="form-group">
    <button (click)="save()" class="btn btn-primary">
      Enregistrer
    </button>
    <a routerLink="/livres" class="btn btn-warning">Annuler</a>
  </div>
</div>
