<h2>Edition de Livre</h2>

<div class="container">
  <div>
    <mat-form-field appearance="outline" >
      <mat-label>Titre</mat-label>
      <input matInput placeholder="Titre" [(ngModel)]="livre.titre">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Auteur</mat-label>
      <input matInput placeholder="Auteur" [(ngModel)]="livre.auteur">
    </mat-form-field>
  </div>

  <!-- <div>
    <label for="etiquettes">Etiquettes :</label>
    <input type="etiquettes" [(ngModel)]="livre.etiquettes">
  </div> -->


  <div>
    <mat-form-field appearance="fill">
      <mat-label>Statut</mat-label>
      <mat-select  placeholder="Statut" [(ngModel)]="livre.statut">
        <mat-option *ngFor="let statut of statuts" [value]='statut'> {{ statut }} </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="form-group">
    <button mat-button color="primary" (click)="save()">
      <mat-icon>done</mat-icon> Enregistrer
    </button>
    <a routerLink="/livres" mat-button color="warn">
      <mat-icon>clear</mat-icon>Annuler</a>
  </div>
</div>
