<div class="container">
<h2>Edition d'un Administrateur</h2>

  <div>
    <mat-form-field appearance="outline" >
      <mat-label for="id">Id</mat-label>
      <input matInput type="id" [(ngModel)]="administrateur.id"
      readonly class="form-control">
      <mat-hint>(généré automatiquement)</mat-hint>
    </mat-form-field></div>
<br>
  <div>
    <mat-form-field appearance="outline" >
    <mat-label for="prenom">Prénom</mat-label>
    <input matInput type="prenom" [(ngModel)]="administrateur.prenom"
    class="form-control">
  </mat-form-field></div>
  <div>
    <mat-form-field appearance="outline" >
      <mat-label for="nom">Nom</mat-label>
      <input matInput type="nom" [(ngModel)]="administrateur.nom"
      class="form-control">
    </mat-form-field></div>
  <div>
    <mat-form-field appearance="outline" >
    <mat-label for="login">Nom d'utilisateur</mat-label>
    <input matInput type="login" [(ngModel)]="administrateur.login"
    class="form-control">
    </mat-form-field>
  </div>
  <div class="form-group">
    <button mat-button color="primary" (click)="save()">
      <mat-icon>done</mat-icon> Enregistrer
    </button>
    <a routerLink="/administrateurs" mat-button color="warn">
      <mat-icon>clear</mat-icon>Annuler</a>
  </div>
</div>
