<h1>Information personnelles</h1>
<h2>Informations utilisateur</h2>
<table class ="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Login</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ adherent.nom }}</td>
      <td>{{ adherent.prenom }}</td>
      <td>{{ adherent.login }}</td>
    </tr>
  </tbody>
</table>

<hr>

<h2>Historique d'emprunts</h2>

<table class ="table">
  <thead>
    <tr>
      <th>Titre du livre</th>
      <th>Auteur du livre</th>
      <th>Date d'emprunt</th>
      <th>A rendre avant le</th>
      <th>Statut</th>
      <th>Rendre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of emprunts">
      <td>{{ e.livre?.titre }}</td>
      <td>{{ e.livre?.auteur }}</td>
      <td>{{ e.dateDebut }}</td>
      <td>{{ e.dateFin }}</td>
      <td *ngIf="e.rendu==true">Rendu</td>
      <td *ngIf="e.rendu==false">En cours</td>
      <td><button *ngIf="!e.rendu" class="btn btn-text" (click)="rendre(e)">rendre</button></td>
    </tr>
  </tbody>
</table>
