<h1>Bienvenue sur la Biblio Tech !</h1>

<span class="container">
  <h3>Sélection du moment</h3>
  <div class="row m-3">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>La Maison des Feuilles</mat-card-title>
      <mat-card-subtitle>Mark Z. Danielewski</mat-card-subtitle>
    </mat-card-header>
    <div class="image-container"><img mat-card-image class="couverture" src="https://www.babelio.com/couv/CVT_La-Maison-des-feuilles_2019.jpg"></div>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Synopsis
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Roman labyrinthique, livre-monde hypnotique et déroutant qui s'affranchit des codes, la Maison des Feuilles est une expérience de lecture exigeante qui ne laisse personne indifférent. Un concept unique à feuilleter d'abord pour mieux s'y plonger et en apprécier toute l'étendue ensuite.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>L'Île Mystérieuse</mat-card-title>
      <mat-card-subtitle>Jules Verne</mat-card-subtitle>
    </mat-card-header>
    <div class="image-container"><img mat-card-image class="couverture" src="https://static.fnac-static.com/multimedia/Images/FR/NR/6c/b3/7c/8172396/1507-1/tsp20230104101249/L-Ile-mysterieuse.jpg">
    </div>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Synopsis
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Ce roman de Jules Verne renoue avec le public premier de la série Les voyages extraordinaires : les jeunes épris d'aventure. C'est un succès immédiat et plus de 44 000 exemplaires sont vendus du vivant de l'auteur.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>

</span>

